<!-- Date -->
<div class="input-with-icon right-align">
    <i class="icon icon-calendar-o"></i>
    <input
        type="text"
        id="<?= $this->getId('date') ?>"
        class="form-control align-right"
        autocomplete="off"
        <?= $field->getAttributes() ?>
        data-datepicker />
</div>

<script>
	
	$(function(){

		var input = $("#<?= $this->getId('date') ?>");
		if (!input.val()) return;
		
		var t = input.val().split('.');
		var date = new Date(t[2], t[1]-1, t[0]);
		//add a day to the date
		date.setDate(date.getDate() + 1);
		console.log(date);

		input.val(date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear());
	});

</script>
